@model IEnumerable<Chirst_Temple_Kid_Finder.Models.CodeTable>

@{
    ViewBag.Title = "Find Child";
}

<h2>Find Child</h2>

@using (Html.BeginForm("Index", "Parent", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>
    @Html.TextBox("search") <input type = "submit" name = "submit" value = "Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChildCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room_Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Number)
            </td>
        </tr>
    }
    

</table>